.detail_con{
	width: 100%;
	height: 100px;
	background-color: #EEEEEE;
}
.detail_con .detail_body{
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
}
.detail_con .detail_body h2{
	font-weight: normal;
	font-size: 22px;
	border-left: 7px solid #FE5341;
	padding-left: 20px;
	float: left;
	line-height: 30px;
}
.detail_con .detail_body ul li{
	display: inline-block;
	text-align: center;
	line-height: 30px;
	margin-left: 50px;
	padding-left: 70px;
	font-size: 20px;
}
.detail_con .detail_body ul li p{
	color: #A3A3A3;
	font-size: 12px;
}

.detail_con .detail_body .detail_line{
	border-bottom: 3px solid #F73809;
}
.d_con{
	width: 1000px;
	background-color: #D6C8FF;
	margin: 0 auto;
	padding-top: 20px;
}
.d_con .d_body_left{
	width: 700px;
	height: 45px;
}
.d_con .d_body_left h2{
	margin-top: 20px;
	font-weight: normal;
	font-size: 22px;
	border-left: 7px solid #FE5341;
	padding-left: 20px;
	float: left;
}
.d_con .b_left{
	width: 700px;
	float: left;
}
.d_con .d_body_left1{
	padding-top: 20px;
}
.d_con .d_body_left1 h3{
	font-size: 18px;
	color: #FF0000;
	text-align: left;
	padding-bottom: 20px;
}
.d_con .d_body_left1 p{
	padding-top: 10px;
	line-height: 25px;
}
.d_con .d_body_left1 img{
	padding-top: 30px;
}
.d_con .d_body_left1 h4{
	font-weight: normal;
	font-size: 18px;
	color: deepskyblue;
	text-align: left;
	padding-top: 20px;
}
.d_con .d_body_right{
    float: left;
	width: 300px;
	height: 2000px;
	background-color: #A3A3A3;
}
.d_con .d_body_right h2{
	margin-top: 20px;
	font-weight: normal;
	font-size: 22px;
	border-left: 7px solid #FE5341;
	padding-left: 20px;
	float: left;
}
